table{
    border-collapse:collapse;
    font-family:Arial;
}

td{
    border:groove;
    padding:5px;
}

th{
    border:solid;
    padding:5px;
    text-align:center;
    cursor:pointer;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}